@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-background {
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  background-clip: text;
  color: transparent;
  animation: gradienbackgound 8s ease-in infinite;
}

@keyframes gradientbackgound {
  0% {
    background-position: "0% 50%";
  }

  100% {
    background-position: "100% 50%";
  }
}

html {
  font-family: "Inria Sans", sans-serif;
}

a.active {
  position: relative;
}

a.active::after {
  content: "";
  position: absolute;
  display: none;
  height: 3px;
  width: 100%;
  background: #4c2113;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 5px;
  animation: showActive 0.5s ease;
}

a.active::after:hover {
  display: block;
}

@keyframes showActive {
  0% {
    width: 0;
  }

  /* 25% {
    width: 55%;
  }

  65% {
    width: 35%;
  } */

  100% {
    width: 100%;
  }
}

.showSearch {
  animation: showsearch 1s ease-in;
}

.closeSearch {
  animation: closesearch 3s ease-in;
}

@keyframes showsearch {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

@keyframes closesearch {
  0% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
